[submodule "anaconda"]
	path = anaconda
	url = git@github.com:rhinstaller/anaconda.git
[submodule "hello-world-anaconda-addon"]
	path = hello-world-anaconda-addon
	url = git@github.com:vpodzime/hello-world-anaconda-addon.git
[submodule "initial-setup"]
	path = initial-setup
	url = git@github.com:rhinstaller/initial-setup.git
[submodule "oscap-anaconda-addon"]
	path = oscap-anaconda-addon
	url = https://git.fedorahosted.org/git/oscap-anaconda-addon.git
[submodule "kdump-anaconda-addon"]
	path = kdump-anaconda-addon
	url = git@github.com:daveyoung/kdump-anaconda-addon.git
[submodule "anaconda-realmd"]
	path = anaconda-realmd
	url = https://git.fedorahosted.org/git/anaconda-realmd.git
